<div id="clearance" class="sign-up">
  <h2><%='Create '+@role.capitalize %></h2>
  <%= form_with model: @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <button class="btn btn-success">Create</button>
    </div>
  <% end %>
</div>
